@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1a1006; /* Updated background color */
    --foreground: 210, 20%, 98%;
    --primary: 19, 77%, 57%;
    --primary-foreground: 210, 20%, 98%;
    --secondary: 240, 19%, 16%;
    --secondary-foreground: 210, 20%, 98%;
    --tertiary: #1a1006;
    --muted: 12, 6.5%, 15.1%;
    --muted-foreground: 237, 13%, 63%;
    --accent: 240, 19%, 16%;
    --accent-foreground: 210, 20%, 98%;
    --destructive: 0, 62.8%, 30.6%;
    --destructive-foreground: 210, 20%, 98%;
    --border: 240, 5.9%, 90%;
    --input: 240, 3.7%, 15.9%;
    --ring: 24.6, 95%, 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    background-color: var(--background); /* Apply the background color */
  }
}

.circle-background {
  background-color: #abffa5;
  opacity: 0.5;
  background-image: radial-gradient(circle at center center, #004814, #abffa5),
    repeating-radial-gradient(
      circle at center center,
      #004814,
      #004814,
      22px,
      transparent 44px,
      transparent 22px
    );
  background-blend-mode: multiply;
}
